*{
    font: optional;
    font-size: large;
    font-variant: normal;
    font-family: 'Courier New', Courier, monospac;
}
.nav h5{
    font: optional;
    font-size: large;
    font-variant: normal;
    font-family: 'Courier New', Courier, monospac

}.nav.nav{
    Font: optional;
    font-size: large;
    font-variant: normal;
    font-family: 'Courier New', Courier, monospac

}