*{
    font: optional;
    font-size: large;
    font-variant: normal;
    font-family: 'Courier New', Courier, monospac;
}
.nav h5{
    font: optional;
    font-size: large;
    font-variant: normal;
    font-family: 'Courier New', Courier, monospac

}.nav.nav{
    Font: optional;
    font-size: large;
    font-variant: normal;
    font-family: 'Courier New', Courier, monospac

}
.h1{
    color: blue;
    text-align: center;

}
.h2{
    font-size: italic;
    text-align: center;
    color: teal;
}
p{
    color:gray;

}
body{
    background-color: skyblue;
}